<%- include ('partials/header.ejs') %>
<body>
<%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label>Título</label>
                    <input name="titulo" type="text" placeholder="Título" class="form-control">
                    <br>
                    <label>Descrição</label>
                    <textarea name="desc" cols="30" rows="5" placeholder="Descreva sua pergunta aqui" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-success">Perguntar  ➤</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs') %>
